# Python
__pycache__/
*.py[cod]
*$py.class
.Python
*.egg-info/
*.egg

# Virtual Environments
.venv/
venv/
ENV/

# Model checkpoints
*.pt
*.pth
*.ckpt

# OS
.DS_Store
.directory

# Jupyter
.ipynb_checkpoints
